h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.form-contact {
    max-width: 400px;
    margin: auto;
}

#contact-inputA, #contact-inputB, #contact-inputC, .contact-textarea {
    width: 400px;
    margin: 10px 0 5px 0;
    height: 35px;
    border: 2px solid darkgrey;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 5px;
    line-height: 25px;
}

.contact-textarea {
    height: 150px;
}

button[type="submit"] {
    width: 200px;
    height: 40px;
    margin: 10px 100px 10px 100px;
    font-size: 18px;
}
