.home-left-img {
    display: inline-block;
	width: 350px;
    height: 350px;
    margin-top: 30px;
}

.body-header {
    font-family: CustomFontHeader;
    font-size: 45px;
    color: white;
    margin-top: 30px;
}

.home-p {
    font-family: Arial;
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
