.center {
    margin: auto;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.movieTitle {
    color: white;
    font-family: CustomFont;
    font-size: 60px;
    text-align: center;
}

.info {
    padding-top: 10px;
    color: white;
}